html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #F09546;
}

footer{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 25px;
}

.local-contact-alls{
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}

.copyright{
    text-align: center;
    border-top: #7f3405b2 2px solid;
}

h1, h2, h3, h4, h5, h6, th{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #7f3305;
}

.google-maps a{
    font-family: 'Alegreya Sans SC', sans-serif;
}

p, a, img{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #313131;
}

.about-theather img, .about-theather article{
    width: 50%;
}

.title{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.classification{
    padding-top: 20px;
}

.schedule .events, .schedule{
    text-align: center;
}

.events section{
    border: #f09546b6 2px solid;
    padding: 10px;
    margin: 5px 5px;
}

.img-fluid img{
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
}

.contact-info{
    display: inline-flex;
}

.contact-info img, .phone img{
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides{
    display: none;
}

.number-text{
    color: #f2f2f2;
    background-color: #000000a9;
    font-size: 12px;
    padding:  8px 12px;
    position: absolute;
    top: 0;
}

.circles{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot{
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: #F09546;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #7f3305;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

.img-fluid{
    max-width: 100%;
}

.social-media a:hover, .sm-contact a{
    text-decoration: none;
}

.navbar-desktop .active{
    background-color: #7f3305;
    color: #F09546;
}

.the-google-map{
    display: none;
}

.contact img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

@media (min-width: 320px){

    main{
        background-color: #f2f2f2;
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .events{
        text-align: center;
    }

    .event-info{
        font-size: 0.8em;
    }

    .event-info p, .event-info h3, h4{
        margin-bottom: -2px;
    }

    .container{
        width: 290px;
        margin: auto;
    }

    .social-media{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .social-media img{
        width: 30px;
        height: 30px;
    }

    .slideshow-container{
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .google-maps-button a{
        font-family: 'Alegreya Sans SC', sans-serif;
        text-decoration: none;
        background: #7f3305;
        color: #F09546;
        padding: 10px;
        font-weight: bold;
    }

}

@media (min-width: 360px){

    main{
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .container{
        width: 280px;
        margin: auto;
    }

    .row{
        width: 100%;
    }

}

@media (min-width: 470px){

    .container{
        width: 360px;
        margin: auto;
    }

    .row{
        width: 100%;
    }
    
}

@media (min-width: 576px){

    .container{
        width: 500px;
        margin: auto;
    }

    .row{
        width: 100%;
    }
    
}


@media (min-width: 768px){

    main{
        padding-top: 90px;
    }

    .container{
        width: 670px;
        margin: auto;
    }
    
    .row{
        width: 100%;
        display: inline-flex;
    }

    .row section{
        width: 30%;
    }

    .google-maps-button{
        display: none;
    }
    
    .the-google-map{
        display: block;
    }

}

@media (min-width: 800px){

    main{
        padding-top: 90px;
      }

    .container{
        width: 750px;
        margin: auto;
    }
    
    .row{
        width: 100%;
        display: inline-flex;
    }

    .local-contact header{
        width: 100%;
    }

    .local-contact{
        display: inline-flex;
        width: 100%;
    }

    .contact, .google-maps{
        width: 50%;
    }
    
}

@media (min-width: 992px){

    main{
        padding-top: 100px;
    }

    .rwd-menu{
        display: none;
    }

    .container{
        width: 890px;
        margin: auto;
    }

    .all-links a:hover{
        text-decoration: underline;
    }

    .navbar-desktop{
        position: fixed;
        width: 100%;
        height: 80px;
        background: #F09546;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    
    .navbar-desktop a{
        font-family: 'Alegreya Sans SC', sans-serif;
        text-decoration: none;
        color: #7f3305;
        padding: 10px 15px;
        font-size: 20px;
    }
    
    .navbar-desktop a:hover{
        text-decoration: underline;
    }

    .columns-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width: 180px;
        height: auto;
        padding: 10px;
    }

    .all-links{
        width: 800px;
        padding: 25px;
        text-align: center;
    }

    .social-media{
        width: 150px;
        height: 30px;
    }

    .social-media img{
        width: 30px;
        height: 30px;
    }

    .row{
        width: 100%;
        display: inline-flex;
    }

    .row section{
        width: 400px;
    }

    .text-theather{
        display: inline-flex;
    }

}

@media (min-width: 1200px){

    main{
        padding-top: 100px;
    }

    .container{
        width: 1200px;
        margin: auto;
    }

    .social-media img{
        width: 40px;
        height: 40px;
    }

    .slides{
        padding-left: 6%;
        padding-right: 5%;
    }
}